// nextflow.config
// first draft based on previous work from binf 528

// defining parameters
params {
    input_dir = "./samples"
    outdir = "./results"
    publish_mode = 'copy'
}

// default resource use
process {
    cpus = 2
    memory = '4.GB'
    time = '2.h'
    
    // specialized resource use for individual processes
    withName: 'FASTQC' {
        cpus = 2
        memory = '4.GB'
    }
    
    withName: 'FASTP' {
        cpus = 4
        memory = '8.GB'
    }
    
    withName: 'MULTIQC' {
        cpus = 1
        memory = '2.GB'
    }
}

// all execution profiles for different deployments
profiles {
    
    # for simple conda environments
    conda {
        conda.enabled = true
    }

    # for docker environments
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    # process for aws; uses aws batch
    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow-queue'  // BP update this after running setup
            // default container; updated in a lot of processes
            container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        }
        
        // pathing - do i need to install miniconda?
        aws {
            region = 'us-east-1'
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
        // params + directories; to be updated
        workDir = 's3:'  // BP UPDATE
        docker.enabled = true
        
        params {
            outdir = 's3:' // BP UPDATE
        }
    }
}

// pipeline metadata
manifest {
    name = 'wgs_covaris_ashg'
    description = 'NGS Quality Control & Analysis Pipeline'
    version = '1.0.0'
    nextflowVersion = '>=22.04.0'
}